
@{
    ViewData["Title"] = "FeatureNotAvailable";
}

<h1>Lo sentimos, esta feature no está disponible...</h1>

<a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Regresar</a>